@using QuenchYourThirst.Models
@model IList<Services>

<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters ftco-services">
            @foreach (var item in Model)
            {
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="@item.Color active d-flex justify-content-center align-items-center mb-2">
                        <span class="@item.Icon"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">@item.Contents</h3>
                        <span>@item.Title</span>
                    </div>
                </div>
            </div>
          
            }
        </div>
    </div>
</section>

