@using QuenchYourThirst.Models;
@model Menu;

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Vertical Layouts</h4>

        <!-- Basic Layout -->
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Basic Layout</h5>
                        <small class="text-muted float-end">Default label</small>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-fullname">MenuName</label>
                                <input type="text" class="form-control" name="menuName" id="menuName" asp-for="menuName" placeholder="" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-company">Levels</label>
                                <!-- <input type="text" class="form-control" id="levels" asp-for="levels" placeholder="" /> -->
                                <select class="select2 form-select" name="levels" id="levels" asp-for="parentID">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-company">ParentId</label>
                                <!-- <input type="text" class="form-control" id="parentID" asp-for="parentID" placeholder="" /> -->
                                <select id="parentId" name="parentID" class="select2 form-select" asp-for="parentID" asp-items="@(new SelectList(ViewBag.Menus, "Value", "Text" ))"></select>

                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-company">Link</label>
                                <input type="text" class="form-control" id="link" asp-for="link" name="link" placeholder="example: example.com; is null" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-company">MenuOrder</label>
                                <input type="text" class="form-control" id="menuOrder" asp-for="menuOrder" name="menuOrder" placeholder="" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-company">Position</label>
                                <input type="text" class="form-control" id="position" asp-for="position" name="position" placeholder="" />
                            </div>
                            <div class="mb-3">
                                <label>
                                    @Html.CheckBox("isActive", false)
                                    Hiển thị
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Send</button>
                            <button type="button" class="btn btn-warning">
                                <a style="color: white;" href="javascript:history.back()">Back</a>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
    <!-- Footer -->
    <footer class="content-footer footer bg-footer-theme">
        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
            <div class="mb-2 mb-md-0">
                ©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                , made with ❤️ by
                <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">Mạnh Khánh</a>
            </div>
            <div>
                <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
                <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

                <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                   target="_blank"
                   class="footer-link me-4">Documentation</a>

                <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                   target="_blank"
                   class="footer-link me-4">Support</a>
            </div>
        </div>
    </footer>
    <!-- / Footer -->
    <script>
        // const form = document.querySelector('form')
        // form.onsubmit = function (e) {
        //     e.preventDefault();
        //     $('form').serializeArray().forEach(function (value, key) {
        //         console.log(key,  value.value)
        //     })
        // }
    </script>
