@using QuenchYourThirst.Models
@model IList<Category>

@* @* <section class="ftco-section ftco-category ftco-no-pt">
	<div class="container">
		<div class="row">
			@foreach(var item in Model)
			{
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6 order-md-last align-items-stretch d-flex">
						<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image:@item.Images;">
							<div class="text text-center">
								<h2>@item.MenuName</h2>
								<p>@item.Content</p>
								<p><a href="#" class="btn btn-primary">Shop now</a></p>
							</div>
						</div>
					</div>
				</div>
				</div>
			
			}
		</div>
		
	</div>
</sec  tion> *@ 
<section class="ftco-section ftco-category ftco-no-pt">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6 order-md-last align-items-stretch d-flex">
						<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url(/images/b.jpg);">
							<div class="text text-center">
								@foreach(var item in Model)
								{
								<h2>@item.Name</h2>
								<p>@item.Title</p>
								}
								@* <p><a href="#" class="btn btn-primary">Shop now</a></p> *@
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(/images/categori.jpg);">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="#">Fruits</a></h2>
							</div>
						</div>
						  <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(/images/categori.jpg);">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="#">Vegetables</a></h2>
							</div>
						</div> 
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(/images/categori.jpg);">
					<div class="text px-3 py-1">
						<h2 class="mb-0"><a href="#">Juices</a></h2>
					</div>
				</div>
				<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(/images/categori.jpg);">
					<div class="text px-3 py-1">
						<h2 class="mb-0"><a href="#">Dried</a></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>